.nextLaunch {
  /* margin-top: 50px;
  margin-bottom: 50px; */
  text-align: center;
  /* font-family: 'Mina', sans-serif; */
  /* color: white; */
}

.nextLaunch .title {
  text-align: center;
  font-size: 3.5em;
  margin: 0.25em 0;
}

.countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 50px;
  text-align: center;
  background: var(--theme-color-dark-blue);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  margin-top: 20px;
  margin-right: 200px;
  margin-left: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px grey;
}

.countdown h1 {
  margin-top: 0;
}

@media only screen and (max-width: 1000px) {
  .nextLaunch {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 80%
  }

  .countdown {
    font-size: 30px;
  }
}
@media only screen and (max-width: 850px) {
  .countdown {
    font-size: 20px;
  }
}

@media only screen and (max-width: 665px) {
  .countdown {
    font-size: 20px;
    display: inline;
  }
}

@media only screen and (max-width: 412px) {
  .countdown {
    background: rgba(0, 0, 0, 0);
    display: inline;
    font-size: 15px;
  }
}
