.nextLaunch {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Mina', sans-serif;
  color: white;
}

.countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  margin-top: 20px;
  margin-right: 200px;
  margin-left: 200px;
  font-family: 'Mina', sans-serif;
}

@media only screen and (max-width: 1000px) {
  .nextLaunch {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 80%
  }

  .countdown {
    font-size: 30px;
  }
}
@media only screen and (max-width: 850px) {
  .countdown {
    font-size: 20px;
  }
}

@media only screen and (max-width: 665px) {
  .countdown {
    font-size: 20px;
    display: inline;
  }
}

@media only screen and (max-width: 412px) {
  .countdown {
    background: rgba(0, 0, 0, 0);
    display: inline;
    font-size: 15px;
  }
}
