.rocketCard {
  margin: 30px;
  border: solid;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

.rocketInfo {
  grid-column: 1 / 3;
}

.rocketImage img {
  grid-column: 3;
  border: solid
}


@media only screen and (max-width: 930px) {
  .rocketCard {
    grid-template-columns: repeat(2, 1fr);
  }
  .rocketImage img {
    max-width: 100%;
    height: auto;
    grid-column: 1 / 2;
  }
}

@media only screen and (max-width: 732px) {
  .rocketImage img {
    max-width: 100%;
    height: auto;
    grid-column: 1 / 2;
  }
}
